* {
  all: unset;
}

/** General **/
.module {
    margin: 0px 0px 0px 0px;
    border-radius: 10px 16px 0px 10px;
}

/** tooltip!! **/
tooltip.background {
    background-color: #0f0f17;
    font-size: 18;
    border-radius: 10px;
    color: #bfc9db;
}

window {
  // background: #282828;
  background: rgba(#1e302c, 0.8);
  border-radius: 16px 0px 0px 16px;
  color: #ebdbb2;
  font-size: 14px;

  border-top: 2px solid #8eb06c;
  border-left: 2px solid #8ec07c;
  border-bottom: 2px solid #9ee08c;

  & > * {
    margin: 4px;
    margin-right: 1px;
    margin-left: 6px;
  }
}

.bx {
  widget {
    background: #888974;

    &:active {
      background: #8ec07c;
    }
    &:hover {
      background: #8ec07c;
    }
    &.inactive {
      background: #888974;
    }
  }
}

.workspaces {
  button {
    background: none;
    margin: 3px;
    padding-left: 1px;
    &.inactive {
      color: #888974;
    }
    &.active {
      color: #8ec07c;
    }
    &.occupied {
      font-size: 1.01rem;
    }
    &.empty {
      font-size: 0.8rem;
    }
  }
}

.segment-top {
  margin-top: 10px;
}

.segment-bottom {
  margin-bottom: 10px;
}

.volume-metric {
  background-color: #1d2021;
  color: #ebdbb2;
  padding: 0;

  .volume-top > scale {
    margin-bottom: 5px;
  }

  slider {
    all: unset;
  }

  scale trough highlight {
    all: unset;
    //background-color: #8ec07c;
    background-color: #665c54;
    border-bottom-right-radius: 5px;
  }
  scale trough {
    all: unset;
    background-color: #1d2021;
    min-width: 34px;
    min-height: 2px;
  }
}

.large-symbol {
  font-size: 0.8em;
}

.metric {
  background-color: #1d2021;
  padding: 5px 2px;
}
.metric-icon {
  font-family: "FontAwesome5Free";
  font-size: 0.7em;
}

.time {
  padding-top: 7px;
  padding-bottom: 7px;
  color: #a89984;
}

.music_popup {
  all: unset;
  background-color: #1d2021;
  padding: 0px 20px;
  margin: 0;
}
